<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container">
    <a class="navbar-brand" style="color:#fff;">SG Bank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link">Welcome {{ currentUser?.username | titlecase }}</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a (click)="logout()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
