<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card mt-5">
      <div class="card-body">
        <h4 class="text-center p-4">
          <span class="text-primary">Welcome To SG Bank Login</span>
        </h4>
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <div *ngIf="badCredentialsMsg" class="alert alert-danger m-3" role="alert">
            Bad Credentials !
          </div>
          <mat-form-field class="pb-3">
            <input formControlName="username" matInput placeholder="Username" [(ngModel)]="user.username" required>
            <mat-error *ngIf="getFormControls['username'].errors?.required">
              Required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="pb-3">
            <input fxFlex="80" fxLayout="row" [type]="hide ? 'password':'text'" matInput formControlName="password"
              placeholder="Password" [(ngModel)]="user.password" required>
            <mat-icon fxFlex="20" fxLayoutAlign="end center" style="cursor:pointer;" matSuffix (click)="hide = !hide">
              {{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="getFormControls['password'].errors?.required">
              Required
            </mat-error>
          </mat-form-field>

          <div fxLayout="row">
            <button mat-flat-button color="primary" type="submit" class="mb-3" [disabled]="loginForm.invalid">
              Login
              <mat-icon *ngIf="loading">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
            </button>
          </div>
          <div style="text-align:center;" class="mt-3">
            <button class="mb-3" fxLayoutAlign="center" (click)="showForgetPwdText =! showForgetPwdText"
              mat-stroked-button color="warn" type="button">Forgot
              Password ?
            </button>
          </div>
        </form>

        <form *ngIf="showForgetPwdText" (ngSubmit)="passwordForgot()" #pwdFormDirective="ngForm"
          [formGroup]="pwdForgotForm" novalidate>
          <div *ngIf="emailDidntExistsMsg" class="alert alert-danger" role="alert">
            Email address does not exists !
          </div>
          <div *ngIf="emailSentMsg" class="alert alert-success" role="alert">
            An email has been sent
          </div>
          <mat-form-field class="pb-2">
            <input type="text" formControlName="email" matInput placeholder="Email" [(ngModel)]="forgotPwdEmail"
              required>
            <mat-error *ngIf="getPwdFormControls['email'].errors?.required">
              Required
            </mat-error>
            <mat-error
              *ngIf="!getPwdFormControls['email'].errors?.required && getPwdFormControls['email'].errors?.pattern">
              Enter a valid email
            </mat-error>
          </mat-form-field>

          <div fxLayout="row">
            <button mat-flat-button color="primary" type="submit" class="mb-3"
              [disabled]="pwdForgotForm.invalid || pwdForgotLoading">
              Send
              <mat-icon *ngIf="pwdForgotLoading">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
