<form class="mt-5" #userFormDirective="ngForm" (ngSubmit)="updateUserInfo()" [formGroup]="userForm" novalidate>

  <h2 class="pb-3">Edit User</h2>

  <div fxLayout="column" class="mt-5">
    <div *ngIf="profileupdateSuccessMsg" class="alert alert-success mb-5" role="alert">
      Changes saved
    </div>

    <mat-form-field class="pb-3" fxFlex="100">
      <input class="disableInput" formControlName="username" matInput [(ngModel)]="currentUser.username" readonly>
    </mat-form-field>

    <mat-form-field class="pb-3" fxFlex="100">
      <input class="disableInput" formControlName="email" matInput [(ngModel)]="currentUser.email" readonly>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <input type="password" formControlName="password" matInput placeholder="Change password"
        [(ngModel)]="currentUser.password" required>
      <mat-error *ngIf="getFormControls['password'].errors?.required">
        Required
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-flat-button color="primary" type="submit" [disabled]="userForm.invalid || loading">Save
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
    </button>
  </div>

</form>
